
.footer-row{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	color: #fff !important;
}

.footer-col-left{
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	width: 50%;
	background-color: rgba(0,0,0, 0.08);;
	padding-top: 40px;
	padding-bottom: 40px;
}

.footer-col-right{
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	background-color: rgba(0,0,0, 0.06);;
	padding-top: 40px;
	padding-bottom: 40px;
}