<template name="view_admin_products">
	<h1>Products Page {{products}}</h1>

	<h2>Add Product</h2>
	<form class="js-form-add">
		<input type="text" name="name" placeholder="Product Name...">
		<br><br>
		<input type="text" name="description" placeholder="Product Description...">
		<br><br>
		<input type="text" name="charity" placeholder="Charity Organisation...">
		<br><br>
		<input type="text" name="stock" placeholder="Stock">
		<br><br>
		<input type="text" name="price" placeholder="Price">
		<br><br>
		<input type="text" name="gender" placeholder="Gender">
		<br><br>
		<input type="text" name="image" placeholder="Image Location...">
		<br><br>
		<input type="submit" name="submit" value="Add Product">
	</form>
</template>