<template name="shop_view">
	<div class="shop-view">
		<div class="left">
			<div class="image-nav">
				<div class="nav-thumbail nav-selected">
					<img src="{{product.image}}">
				</div>
				<div class="nav-thumbail">
					<img src="{{product.image}}">
				</div>
				<div class="nav-thumbail">
					<img src="{{product.image}}">
				</div>
			</div>
			<div class="image">
				<img src="{{product.image}}">
			</div>
		</div>
		<div class="right">
			<div class="product-info">
				<div class="breadcrumbs">Home / shop / collection</div>
				<h1 class="title">{{product.name}}</h1>
				<div class="price">${{product.price}}</div>
				<p class="excerpt">{{product.description}}</p>
				<div class="cart">Add To Cart</div>
			</div>
		</div>
	</div>
	
</template>